<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Swinger</title>
    <script>
        var firebaseConfig = {
            apiKey: "{{ firebase_config.apiKey }}",
            authDomain: "{{ firebase_config.authDomain }}",
            projectId: "{{ firebase_config.projectId }}",
            storageBucket: "{{ firebase_config.storageBucket }}",
            messagingSenderId: "{{ firebase_config.messagingSenderId }}",
            appId: "{{ firebase_config.appId }}",
            measurementId: "{{ firebase_config.measurementId }}"
        };
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/UIAlert.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    
    
    <link rel="stylesheet" href="../static/css/style.css">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="inner-content">
        <div class="Left-form-div">
            <div class="Form">
                <div class="upper-icon">
                    <i class="ri-vip-crown-fill" style="font-size: 1.7rem;"></i>
                    <h2> Mood Swing</h2>
                </div>
                 <div class="ud8f">
                    <span id="app" >Emotion-based Music Recommender</span><span id="Register"  >Register</span>
                 </div>

                 <fieldset>

                    <div class="Field Name" style="display: none;" >
                        <label for="Name">Name</label>
                        <input type="text"  id="Name" >
                     </div>
                    <div class="Field">
                        <label for="Email">Email</label>
                        <input type="email"  id="Email" >
                     </div>

                     <div class="Field">
                        <label for="Pass">Password</label>
                        <input type="password"  id="Pass" >
                     </div>

                      <div class="rem"> <input type="checkbox" name="rememberMe" id="rememberMe"><span>Remember Me</span></div>
                       
                      <button class="btn-login" id="btn" ">Login</button>
                     
                 </fieldset>
            </div>
        </div>
        <div class="right-logo-div">
            <!-- <img src="{{ url_for('static', filename=image_filename) }}" alt="img"> -->
        </div>
    </div>
    </div>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script> -->
     <script type="module" src="js/script.js"></script>
     <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
     <script type="module" src="{{ url_for('static', filename='js/Db.js') }}"></script>
     
</body>
</html>